{% extends "template.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Secret Santa</h3>
                </div>
                <div class="panel-body">
                    Cette application permet à l'Entrefrof de créer facilement des Secret Santa.
                </div>
            </div>
        </div>
    </div>
{% endblock %}