{% extends "template.html.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Connexion</h3>
        </div>
        <div class="panel panel-body">
            <form method="post" action="{{ path('login_post') }}">
                <div class="form-group">
                    <label for="user_login">Pseudonyme</label>
                    <input type="text" class="form-control" id="user_login" placeholder="Pseudonyme"
                           name="user_login">
                </div>
                <div class="form-group">
                    <label for="user_password">Mot de passe</label>
                    <input type="password" class="form-control" id="user_password" placeholder="Mot de passe"
                           name="user_password">
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
                <button type="reset" class="btn btn-default">Annuler</button>
            </form>
        </div>
    </div>
{% endblock %}